* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    --font-principal: 'Inter', sans-serif;
    --font-auxiliar: 'Open Sans', sans-serif;
    --black: #000000;
    --black-100: #101011;
    --black-200: #1c1c1c;
    --white: #ffffff;
    --green: #207223;
    --gray: #333333;
    --gray-100: #c9c9c9;
    --gray-200: #9f9f9f;
    --gray-300: #8f8f8f;
}

html, body {
    font-size: 1.6rem;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
}

header {
    height: 8rem;
    background-color: var(--green);
    padding: 0 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-family: var(--font-principal);
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.8rem;
    color: var(--white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

nav div {
    font-family: var(--font-principal);
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

main {
    width: 100%;
    min-height: calc(100vh - 16rem);
    margin: 0 auto;
}

#form-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container  {
    padding: 3.9rem 1.55rem;
}

.form-card {
    width: 100%;
    background-color: var(--gray);
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 0.8rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

form .btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 4.5rem;
}

form .btn-container button {
    width: 25rem;
    height: 5rem;
    background-color: var(--green);
    border: 0;
    border-radius: 0.4rem;
    cursor: pointer;
    color: var(--white);
    font-family: var(--font-auxiliar);
    font-weight: 700;
    font-size: 1.4rem;
}

form .btn-container button:focus {
    outline: none;
}

form .form-control {
    width: 100%;
}

form .form-control .form-input {
    width: 100%;
    height: 5rem;
    border: 0;
    border-radius: 0.4rem;
    background-color: var(--gray-200);
    padding: 0 2.1rem;
}

.form-input::placeholder {
    color: var(--gray-100);
    font-family: var(--font-auxiliar);
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.9rem;
}

.form-input:focus {
    outline: 0.2rem solid var(--green);
}

.form-input:focus-within {
    color: var(--white);
}

.error-message {
    color: rgb(201, 46, 46);
    margin-top: 0.5rem;
    font-family: var(--font-auxiliar);
    display: none;
}

#list-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.9rem;
    margin: 1.6rem 1.6rem 3.9rem 1.6rem;
}

.list-card-itens {
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    max-width: 90rem;
    width: 100%;
    border-radius: 0.8rem;
    padding: 2rem;
    gap: 0.5rem;
}

.list-card-itens h3 {
    color: var(--green);
    font-family: var(--font-auxiliar);
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.list-card-itens p {
    color: var(--white);
    font-family: var(--font-auxiliar);
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.9rem;
}

.list-card-itens span {
    color: var(--gray-300);
    font-family: var(--font-auxiliar);
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.modal-container {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    padding: 2.2rem;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.modal-box {
    width: 100%;
    background-color: var(--gray);
    max-width: 37.4rem;
    height: 16.8rem;
    border-radius: 1rem;
    border: 2px solid var(--gray-100);
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.7rem;
} 

.modal-content p {
    color: var(--white);
    font-family: var(--font-auxiliar);
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.9rem;
}

.modal-container button {
    width: 100%;
    max-width: 25rem;
    height: 5rem;
    background-color: var(--green);
    border: 0;
    border-radius: 0.4rem;
    cursor: pointer;
    color: var(--white);
    font-family: var(--font-auxiliar);
    font-weight: 700;
    font-size: 1.4rem;
}

.modal-container.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 8rem;
    background-color: var(--green);
    padding: 0 4.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer h2 {
    font-family: var(--font-principal);
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

